@font-face {
    font-family: "Gotham";
    font-style: normal;
    font-weight: 400;
  
    /* Браузер сначала попробует найти шрифт локально */
    src: local("Gotham"),
         /* Если не получилось, загрузит woff2 */
         url("../fonts/gotham-medium-webfont.woff2") format("woff2"),
         /* Если браузер не поддерживает woff2, загрузит woff */
         url("../fonts/gotham-medium-webfont.woff") format("woff"),
         url("../fonts/Gotham-Medium-Regular.ttf") format("opentype");
}

@font-face {
    font-family: "GothamBook";
    font-style: normal;
    font-weight: 400;
    src: local("GothamBook"),
         url("../fonts/GothamBook.woff") format("woff"),
         url("../fonts/GothamBook.ttf") format("opentype");;
}

@font-face {
    font-family: "gothambold";
    font-style: bold;
    //font-weight: 400;
    src: local("gothambold"),
         url("../fonts/gothambold1.woff") format("woff"),
         url("../fonts/gothambold1.ttf") format("opentype");;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
//font-family: 'Open Sans', sans-serif;

$blue: #55b7ff;
$purple: #7e5aff;
$darkblue: #2c4058;
$darkgrey: #4b5562;
$white: #ffffff;

$Gotham: "Gotham", "Open Sans", sans-serif;
$GothamBook: "GothamBook", "Open Sans", sans-serif;
$gothambold: "gothambold", "Open Sans", sans-serif;
$OpenSans: 'Open Sans', sans-serif;

html {
    font-size: 10px;

}

body {
    font-family: $Gotham;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: 0;

    }
a {
    text-decoration: none;
    color: currentColor;
}
li {
    list-style: none;
}
h1, h2, h3, h4 {
    margin: 0;
}

.wrapper {
    max-width: 1170px;
    margin: 0 auto;
    height: 100%;
}
.wrapper-narrow {
    max-width: 770px;
    margin: 0 auto;
    //height: 100%;
}
  
@media screen and (max-width: 1200px) {
    .wrapper {
      max-width: 80%;
    }
}

.bulb {
    display: inline-block;
    width: 9px;
    height: 9px;
    border-radius: 50%;
    border: $white 1px solid;
}

.bulb--active {
    background-color: $white;
}

.top-navigation {
    position: fixed;
    width: 100%;
    z-index: 2;
//    border: 1px maroon dotted;
    padding-top: 5rem;
    padding-bottom: 2rem;    
}

.top-navigation--fill {
    background: linear-gradient( 45deg, rgb(85,183,255) 0%, rgb(126,90,255) 100%);
}

.top-navigation .wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    }

.logo {
    display: inline-block;
    height: 5.4rem;
    //src: url("../img/monticello-logo.svg");
}

.menu {
    display: inline;
    color: $white;
    flex: 1;
    max-width: 60rem;

    &__items {
        display: flex;
        justify-content: space-between;
        //flex: 2;
    }
    &__item {
        display: inline-block;
        margin-right: 15px;
    }
    &__item-link{
        font-size: 1.4rem;
        font-family: $GothamBook;
        text-transform: uppercase;
        
    }
    &__item-link:hover {
        color: $darkblue;
    }
    &__item-link span {
        margin-right: 1.4rem;
    }
}

.social {
    color: $white;
    &__item {
        box-sizing: border-box;
        display: inline-block;
        width: 3.8rem;
        height: 3.8rem;
        border: $white 0.1rem solid;
        border-radius: 50%;
        margin-left: 2.1rem;
        text-align: center;
        padding: 1rem;
        cursor: pointer;
    }
    &__item a {
        font-size: 1.6rem;
    }

}
.social__item:hover {
    color: $darkblue;
    border-color: $darkblue;
    background-color: $white;
    }

.slider-v {
    position: relative;
    height: 100vh;
    overflow: hidden;
    color: $white;
    &__slides {
        position: relative;
        top: 0vh;
        /* ??? */
        //animation-name: fade;
        //animation-duration: 1.5s;
        /* ??? */
        transition: 0.6s ease;

    }
    &__item {
        height: 100vh;
        
        //background: linear-gradient( 45deg, rgb(85,183,255) 0%, rgb(126,90,255) 100%);
        background: url(../img/bg-1.png), linear-gradient( 45deg, rgb(85,183,255) 0%, rgb(126,90,255) 100%);
        background-repeat: no-repeat;
        background-size: cover;
    }
    &__item .wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    &__title {
        font-family: $gothambold;
        font-size: 8rem;
        letter-spacing: 0.5rem;
        text-transform: uppercase;
        text-align: center;
        margin-bottom: 4rem;
    }
    &__subtitle {
        font-family: $GothamBook;
        font-size: 1.8rem;
        letter-spacing: 0.4rem;
        text-transform: uppercase;
        text-align: center;
    }
    &__pagination {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: absolute;
        height: 100%;
        bottom: 0;
        top: 0;
        right: 4rem;
        margin: auto;
        z-index: 10;
    }
    &__pagination-item {
        margin: 2rem 0 2rem 0;

    }
    &__pagination-item--active {

    }
}


.arrow-dow {
    box-sizing: border-box;
    display: inline-block;
    position: absolute;
    bottom: 2rem;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 10;
    width: 3.8rem;
    height: 3.8rem;
    border: $white 0.1rem solid;
    border-radius: 50%;
    text-align: center;
    padding: 1.2rem;
    color: $white;
    cursor: pointer;
}
.fa-chevron-down {
    font-size: 1.4rem;
}
.arrow-dow:hover {
    color: $darkblue;
    border-color: $darkblue;
    background-color: $white;
}

.section {
    padding-top: 14rem;
    &__title {
        font-family: $Gotham;
        font-size: 4.4rem;
        text-transform: uppercase;
        text-align: center;
        color: $darkblue;
        margin-bottom: 10rem;
    }
}


.project {
    display: flex;
    justify-content: space-between;
    margin-top: 21rem;
    margin-bottom: 14rem;
    &__picture {
        width: 63rem;
        height: 47rem;
        background-color: $darkgrey;
    }
    &__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        width: 50rem;
        height: 47rem;
        overflow: hidden;
    }
    &__category {
        font-family: $GothamBook;
        font-size: 2.2rem;
        text-transform: uppercase;
        color: $darkblue;
        margin-bottom: 1.8rem;
    }
    &__title {
        font-family: $gothambold;
        font-size: 4.4rem;
        text-transform: uppercase;
        color: $darkblue;
        margin-bottom: 4rem;
    }
    &__description {
        font-family: $OpenSans;
        font-size: 1.8rem;
        line-height: 3rem;
        height: 9rem;
        overflow: hidden;
        margin-bottom: 4rem;
    }
    &__more-details {
        margin-bottom: 6rem;
    }
    &__location {
        font-family: $OpenSans;
        font-size: 1.8rem;
        font-style: italic;
        color: $darkblue;
    }
}
.project-odd {
    flex-direction: row;
}
.project-odd .project__picture {
    box-shadow: -215px -70px $blue;
}

.project-even {
    flex-direction: row-reverse;
}

.project-even .project__picture {
    box-shadow: 215px -70px $purple;
}

.news {
    //background: -moz-linear-gradient( 45deg, rgb(60,127,212) 0%, rgb(36,204,250) 100%);
    //background: -webkit-linear-gradient( 45deg, rgb(60,127,212) 0%, rgb(36,204,250) 100%);
    //background: -ms-linear-gradient( 45deg, rgb(60,127,212) 0%, rgb(36,204,250) 100%);

    background: url(../img/bg-2.png), linear-gradient( 45deg, rgb(60,127,212) 0%, rgb(36,204,250) 100%);
    background-repeat: no-repeat;
    background-size: cover;

    height: 100rem; //delete

    /*     background: url(../img/bg-4.png), linear-gradient( 45deg, rgb(85,183,255) 0%, rgb(126,90,255) 100%);
    background-repeat: no-repeat;
    background-size: cover; */
}

.slider-h {
    //height: 54rem;
    //position: relative;
    //margin-bottom: 20rem;
    &__slides {
        //display: flex;
        //justify-content: start;
        //gap: 3rem;
        //position: absolute;
        //left: 0;
        //height: 54rem;
    }
    &__item {
        //width: 30rem;
        
    }
}


.new {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 1.5rem;
    margin-right: 1.5rem;

    &__picture {
        height: 24rem;
        background-color: $darkgrey;
    }
    &__content {
        padding: 3rem 2rem 3rem 2rem;
        background-color: $white;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        flex: 1;
    }
    &__title {
        font-family: $gothambold;
        font-size: 2.2rem;
        text-transform: uppercase;
        color: $darkblue;
    }
    &__subtitle {
        font-family: $OpenSans;
        font-size: 1.8rem;
        line-height: 3rem;
        color: $darkgrey;
        height: 6rem;
        overflow: hidden;
    }
    &__discription {

    }
}

.write {
    position: relative;
    &__pic {
        width: 6rem;
        height: 6rem;
        border-radius: 50%;
        background-color: $purple;
        position: absolute;
        left: 0;
        bottom: 0;
    }
    &__name {
        font-family: $GothamBook;
        font-size: 1.8rem;
        color: $darkblue;
        margin-left: 8rem;
        margin-bottom: 1.1rem;
    }
    &__data {
        font-family: $GothamBook;
        font-size: 1.4rem;
        color: $blue;
        margin-left: 8rem;
        margin-bottom: 1.1rem;
    }
} 

.gallery {
    border: 1px maroon dotted;
    padding-bottom: 14rem;
    text-align: center;
    &__items {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 1em;
        width: 100%;
        height: 44rem;
        
        margin-bottom: 6rem;
    }

    &__item {
        background-color: $blue;
        //border: 1px dotted maroon;
    }

    &__item:nth-child(1) {
        background-color: steelblue;
        grid-column-start: 1;
        grid-column-end: 3;
        grid-row-start: 1;
        grid-row-end: 3
    }
    &__item:nth-child(n) {
        
    }
    
}

.contact {
    //margin-bottom: 5rem;
    background-color: lightgrey;
    height: 70rem;
    &__row {
        font-family: $GothamBook;
        font-size: 1.8rem;
        color: $darkblue;
        margin-bottom: 4.6rem;
    }
}
.contact .wrapper-narrow {
    transform: translateY(40rem);
    background-color: $white;
    padding-top: 6rem;
    //background: url(../img/bg-3.png);
    background-color: $white;
    background-repeat: no-repeat;
    background-size: cover;
    //background-origin: padding-box;
    //background-position: bottom;
}

.contact .section__title {
    margin-bottom: 6rem;
}

.colls {
    display: flex;
    justify-content: space-between;
    margin: 0 6rem 0 6rem;;
    &__coll {
        width: 48%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
    }
}

.footer {
    background: url(../img/bg-4.png), linear-gradient( 45deg, rgb(85,183,255) 0%, rgb(126,90,255) 100%);
    background-repeat: no-repeat;
    background-size: cover;
    color: $white;
    padding: 20rem 0 20rem 0;
    &__1-line {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 4.3rem;
    }
}

.copyrights {
    font-family: $GothamBook;
    font-size: 1.4rem;
}
