@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@font-face {
  font-family: "Gotham";
  font-style: normal;
  font-weight: 400;
  /* Спочатку шукаємо шрифт локально шрифт локально */
  src: local("Gotham"), url("../fonts/gotham-medium-webfont.woff2") format("woff2"), url("../fonts/gotham-medium-webfont.woff") format("woff"), url("../fonts/Gotham-Medium-Regular.ttf") format("opentype");
}

@font-face {
  font-family: "GothamBook";
  font-style: normal;
  font-weight: 400;
  src: local("GothamBook"), url("../fonts/GothamBook.woff") format("woff"), url("../fonts/GothamBook.ttf") format("opentype");
}

@font-face {
  font-family: "gothambold";
  font-style: bold;
  src: local("gothambold"), url("../fonts/gothambold1.woff") format("woff"), url("../fonts/gothambold1.ttf") format("opentype");
}

/* Декларуємо змінні */
html {
  font-size: 10px;
}

body, h1, h2, h3, h4, input {
  font-family: "Gotham", "Open Sans", sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

a {
  text-decoration: none;
  color: currentColor;
}

li {
  list-style: none;
}

.wrapper {
  max-width: 1170px;
  margin: 0 auto;
  height: 100%;
}

.wrapper-narrow {
  max-width: 770px;
  margin: 0 auto;
}

@media screen and (max-width: 1200px) {
  .wrapper {
    max-width: 80%;
  }
}

.btn {
  display: inline-block;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #2c4058;
  padding: 2rem 4.5rem;
  background: none;
  border: 1px #2c4058 solid;
  cursor: pointer;
}

.btn:hover, .btn:focus {
  background: #2c4058;
  color: #ffffff;
}

.bulb {
  display: inline-block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  border: #ffffff 1px solid;
}

.bulb--active {
  background-color: #ffffff;
}

.top-navigation {
  position: fixed;
  width: 100%;
  z-index: 2;
  padding-top: 5rem;
  padding-bottom: 2rem;
}

.top-navigation--fill {
  background: linear-gradient(45deg, #55b7ff 0%, #7e5aff 100%);
}

.top-navigation .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  display: inline-block;
  height: 5.4rem;
}

.menu {
  display: inline;
  color: #ffffff;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  max-width: 60rem;
}

.menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu__item {
  display: inline-block;
  margin-right: 15px;
}

.menu__item-link {
  font-size: 1.4rem;
  font-family: "GothamBook", "Open Sans", sans-serif;
  text-transform: uppercase;
}

.menu__item-link:hover {
  color: #2c4058;
}

.menu__item-link span {
  margin-right: 1.4rem;
}

.social {
  color: #ffffff;
}

.social__item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  width: 3.8rem;
  height: 3.8rem;
  border: #ffffff 0.1rem solid;
  border-radius: 50%;
  margin-left: 2.1rem;
  text-align: center;
  padding: 1rem;
  cursor: pointer;
}

.social__item a {
  font-size: 1.6rem;
}

.social__item:hover {
  color: #2c4058;
  border-color: #2c4058;
  background-color: #ffffff;
}

.slider-v {
  position: relative;
  height: 100vh;
  overflow: hidden;
  color: #ffffff;
}

.slider-v__slides {
  position: relative;
  top: 0vh;
  -webkit-transition: 0.6s ease;
  transition: 0.6s ease;
}

.slider-v__item {
  height: 100vh;
  background: url(../img/bg-1.png), linear-gradient(45deg, #55b7ff 0%, #7e5aff 100%);
  background-repeat: no-repeat;
  background-size: cover;
}

.slider-v__item .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.slider-v__title {
  font-family: "gothambold", "Open Sans", sans-serif;
  font-size: 8rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 4rem;
}

.slider-v__subtitle {
  font-family: "GothamBook", "Open Sans", sans-serif;
  font-size: 1.8rem;
  letter-spacing: 0.4rem;
  text-transform: uppercase;
  text-align: center;
}

.slider-v__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  height: 100%;
  bottom: 0;
  top: 0;
  right: 4rem;
  margin: auto;
  z-index: 10;
}

.slider-v__pagination-item {
  margin: 2rem 0 2rem 0;
}

.arrow-dow {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  position: absolute;
  bottom: 2rem;
  left: 0;
  right: 0;
  margin: auto;
  z-index: 10;
  width: 3.8rem;
  height: 3.8rem;
  border: #ffffff 0.1rem solid;
  border-radius: 50%;
  text-align: center;
  padding: 1.2rem;
  color: #ffffff;
  cursor: pointer;
}

.fa-chevron-down {
  font-size: 1.4rem;
}

.arrow-dow:hover {
  color: #2c4058;
  border-color: #2c4058;
  background-color: #ffffff;
}

.section {
  padding-top: 14rem;
}

.section__title {
  font-family: "Gotham", "Open Sans", sans-serif;
  font-size: 4.4rem;
  text-transform: uppercase;
  text-align: center;
  color: #2c4058;
  margin-bottom: 10rem;
}

.project {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 21rem;
  margin-bottom: 14rem;
}

.project__picture {
  width: 63rem;
  height: 47rem;
  background-color: #4b5562;
}

.project__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  width: 50rem;
  height: 47rem;
  overflow: hidden;
}

.project__category {
  font-family: "GothamBook", "Open Sans", sans-serif;
  font-size: 2.2rem;
  text-transform: uppercase;
  color: #2c4058;
  margin-bottom: 1.8rem;
}

.project__title {
  font-family: "gothambold", "Open Sans", sans-serif;
  font-size: 4.4rem;
  text-transform: uppercase;
  color: #2c4058;
  margin-bottom: 4rem;
}

.project__description {
  font-family: "Open Sans", sans-serif;
  font-size: 1.8rem;
  line-height: 3rem;
  height: 9rem;
  overflow: hidden;
  margin-bottom: 4rem;
}

.project__more-details {
  margin-bottom: 6rem;
}

.project__location {
  font-family: "Open Sans", sans-serif;
  font-size: 1.8rem;
  font-style: italic;
  color: #2c4058;
}

.project-odd {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.project-odd .project__picture {
  -webkit-box-shadow: -215px -70px #55b7ff;
          box-shadow: -215px -70px #55b7ff;
}

.project-even {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.project-even .project__picture {
  -webkit-box-shadow: 215px -70px #7e5aff;
          box-shadow: 215px -70px #7e5aff;
}

.news {
  background: url(../img/bg-2.png), linear-gradient(45deg, #3c7fd4 0%, #24ccfa 100%);
  background-repeat: no-repeat;
  background-size: cover;
  height: 90rem;
}

.new {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}

.new__picture {
  height: 24rem;
  background-color: #4b5562;
}

.new__content {
  padding: 3rem 2rem 3rem 2rem;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

.new__title {
  font-family: "gothambold", "Open Sans", sans-serif;
  font-size: 2.2rem;
  text-transform: uppercase;
  line-height: 3.2rem;
  color: #2c4058;
  height: 6rem;
  overflow: hidden;
  margin-bottom: 2.4rem;
}

.new__subtitle {
  font-family: "Open Sans", sans-serif;
  font-size: 1.8rem;
  line-height: 3rem;
  color: #4b5562;
  height: 6rem;
  overflow: hidden;
  margin-bottom: 5.2rem;
}

.new__discription {
  height: auto;
}

.write {
  position: relative;
}

.write__pic {
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  background-color: #7e5aff;
  position: absolute;
  left: 0;
  bottom: 0;
}

.write__name {
  font-family: "GothamBook", "Open Sans", sans-serif;
  font-size: 1.8rem;
  color: #2c4058;
  margin-left: 8rem;
  margin-bottom: 1.1rem;
}

.write__data {
  font-family: "GothamBook", "Open Sans", sans-serif;
  font-size: 1.4rem;
  color: #55b7ff;
  margin-left: 8rem;
  margin-bottom: 1.1rem;
}

.gallery {
  padding-bottom: 14rem;
  text-align: center;
}

.gallery__items {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
  grid-gap: 1em;
  width: 100%;
  height: 44rem;
  margin-bottom: 6rem;
}

.gallery__item {
  background-color: #55b7ff;
  text-align: center;
  padding-top: 35%;
}

.gallery__item:nth-child(1) {
  background-color: steelblue;
  -ms-grid-column: 1;
      grid-column-start: 1;
  grid-column-end: 3;
  -ms-grid-row: 1;
      grid-row-start: 1;
  grid-row-end: 3;
}

.contact {
  background-color: lightgrey;
  height: 70rem;
}

.contact__row {
  font-family: "GothamBook", "Open Sans", sans-serif;
  font-size: 1.8rem;
  color: #2c4058;
  margin-bottom: 4.6rem;
}

.contact .wrapper-narrow {
  -webkit-transform: translateY(40rem);
          transform: translateY(40rem);
  background-color: #ffffff;
  padding-top: 6rem;
  background-color: #ffffff;
  background-repeat: no-repeat;
  background-size: cover;
}

.contact .section__title {
  margin-bottom: 6rem;
}

.colls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 6rem 0 6rem;
}

.colls__coll {
  width: 48%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.submitForm {
  text-align: right;
  position: relative;
}

.submitForm__input {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  display: block;
  width: 100%;
  font-family: "GothamBook", "Open Sans", sans-serif;
  font-size: 1.8rem;
  color: #4b5562;
  padding-bottom: 2rem;
  border-bottom: 1px #4b5562 solid;
  margin-bottom: 4.6rem;
  outline: none;
}

.submitForm__input:hover, .submitForm__input:focus {
  color: #2c4058;
  border-color: #2c4058;
}

.submitForm__input:active {
  background: none;
}

.submitForm__input:focus:invalid {
  color: red;
  border-color: red;
}

.submitForm__input:valid {
  color: green;
  border-color: green;
}

.submitForm__input:-internal-autofill-selected {
  background-color: transparent;
}

.submitForm__error {
  width: 100%;
  text-align: left;
  color: red;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.submitForm__error--active {
  padding: 2rem 4rem;
}

.submitForm__submitBtn {
  display: inline-block;
  font-size: 1.4rem;
  text-transform: uppercase;
  color: #2c4058;
  padding: 2rem 4.5rem;
  background: none;
  border: 1px #2c4058 solid;
  cursor: pointer;
}

.submitForm__submitBtn:hover, .submitForm__submitBtn:focus {
  background: #2c4058;
  color: #ffffff;
}

.footer {
  background: url(../img/bg-4.png), linear-gradient(45deg, #55b7ff 0%, #7e5aff 100%);
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  padding: 20rem 0 20rem 0;
}

.footer__1-line {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 4.3rem;
}

.copyrights {
  font-family: "GothamBook", "Open Sans", sans-serif;
  font-size: 1.4rem;
}
/*# sourceMappingURL=main.css.map */